*.log
.htaccess
sitemap.xml
sitemap.xml.gz
wp-config.php
wp-content/advanced-cache.php
wp-content/backup-db/
wp-content/backups/
wp-content/blogs.dir/
wp-content/cache/
wp-content/upgrade/
wp-content/uploads/
wp-content/wp-cache-config.php
dynamic/wp-content/plugins
wp-includes
uploads
twentyfourteen
twentyfifteen
dynamic/*.php
dynamic/*.txt
dynamic/*.html
wc-logs
wp-admin
cache
dynamic/wp-content/themes/*.php
logs
wp-content/languages
dynamic/wp-content/languages
advanced-cache.php
dynamic/wp-content/*.php
